.opponent {
  display: flex;
  align-items: right;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  
  width: 100%;
  height: 100%;
  
  opacity: .5;
  pointer-events: none;
  
  h1 {
    width: 100%;
    text-align: right;
  }
  
  &-active {
    opacity: 1;
    pointer-events: all;
  }
  
  &-list {
    width: 100%;
    text-align: right;
    list-style: none;
    -webkit-padding-start: 0;
    
    &-item {
      cursor: pointer;
      padding: 6px;
      width: 100px;
      margin: 6px 0;
      color: white;
      background: cornflowerblue;
      border: 0;
      border-radius: 4px;
      text-align: center;
      
      &-selected {
        background: green;
      }
    }
  }
}