.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  
  &-active {
    opacity: 1;
    pointer-events: all;
  }
  
  &-left, 
  &-right {
    background: white;
    outline: 0;
    border: 0;
    position: absolute;
    top: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    touch-action: manipulation;
    user-select: none;
  }
  
  &-left {
    left: 0;
  }
  
  &-right {
    right: 0;
  }
}