.invite {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
  
  &-active {
    display: flex;
  }
    
  &-actions {
    display: flex;
  }  
}