.player {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
  
  width: 100%;
  height: 100%;
  
  opacity: .5;
  pointer-events: none;
  
  &-active {
    opacity: 1;
    pointer-events: all;
  }
  
  &-name {
    padding: 6px;
  
    &-hidden {
      display: none;
    }
  }
  
  &-issue {
    opacity: 0;
    color: red;
    font-size: 12px;
    padding: 6px;
    
    &-active {
      opacity: 1;
    }
  }
}