.app {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  
  justify-content: center;
  align-items: center;
  // border: 3px solid;

  font-family: 'verdana';
  
  h1 {
    font-size: 18px;
  }
  
  &-init {
    border-color: red;
  }
  &-registered {
    border-color: orange;
  }
  &-playing {
    border-color: green;
  }
}